@media (min-width: 1100px) {
    header {
        display: grid;
        place-content: center;
        width: 100vw;
        position: fixed;
        margin-top: 20px;
        z-index: 999;
    }

    header * {
        transition: all 0.25s ease-in-out;
    }

    header > nav {
        background-color: rgba(0, 0, 0, 0.25);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        display: flex;
        padding: 20px;
        gap: 15px;
        border-radius: 20px;
        border: rgba(0, 0, 0, 0.25) solid 2px;
    }

    /*BOTONES DE NAVEGACIÓN DE CABECERA*/
    /*#categorias es para en la versión móvil separar en dos filas la cabecera*/
    header > nav > #categorias {
        display: flex;
        gap: 15px;
    }
    header > nav > #categorias > a {
        color: white;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    header > nav > #categorias > a > img {
        margin-bottom: 2px;
        height: 22px;
    }
    header > nav > #categorias > a:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    /*BARRA DE BÚSQUEDA*/
    /*#segunda_fila es para en la versión móvil separar en dos filas la cabecera*/
    header > nav > #segunda_fila {
        display: flex;
        gap: 15px;
    }
    header > nav > #segunda_fila > #contenedor_buscador {
        display: flex;
        align-items: center;
    }
    header > nav > #segunda_fila > #contenedor_buscador > #icono_lupa {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 25px 0 0 25px;
    }
    header > nav > #segunda_fila > #contenedor_buscador > #icono_lupa:hover {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
        cursor: pointer;
    }
    header > nav > #segunda_fila > #contenedor_buscador > #buscador_principal {
        background-color: rgba(255, 255, 255, 0.2);
        height: 34px;
        font-size: 15px;
        outline: none;
        color: white;
        width: 30vw;
        border-radius: 0 25px 25px 0;
        padding-right: 10px;
    }
    header > nav > #segunda_fila > #contenedor_buscador > #buscador_principal::placeholder {
        color: rgb(211, 211, 211);
    }
    /*QUITAMOS LA X QUE SALE A LA DERECHA DEL BUSCADOR AL ESCRIBIR*/
    /* Para Chrome, Safari y navegadores basados en WebKit */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
        -webkit-appearance: none;
    }
    /* Para Edge y versiones antiguas de IE (por si acaso) */
    input[type="search"]::-ms-clear {
        display: none;
    }

    #role_selector {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 25px;
        color: white;
        outline: none;
        cursor: pointer;
    }
    #role_selector:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
    #role_selector > option {
        color: white;
        background-color: rgb(0, 0, 0);
    }
    
    /*Esto separa el header del contenido que está dentro de <main>*/
    #separador_header_contenido {
        padding-top: 114px;
    }
}

@media (max-width: 1099px) {
    header {
        display: grid;
        place-content: center;
        width: 100vw;
        position: fixed;
        margin-top: 5px;
        z-index: 999;
    }

    header * {
        transition: all 0.25s ease-in-out;
    }

    header > nav {
        background-color: rgba(0, 0, 0, 0.25);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        display: grid;
        padding: 20px;
        gap: 15px;
        border-radius: 20px;
        border: rgba(0, 0, 0, 0.25) solid 2px;
    }

    /*BOTONES DE NAVEGACIÓN DE CABECERA*/
    /*#categorias es para en la versión móvil separar en dos filas la cabecera*/
    header > nav > #categorias {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
    header > nav > #categorias > a {
        color: white;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    header > nav > #categorias > a > img {
        margin-bottom: 2px;
        height: 22px;
    }
    header > nav > #categorias > a:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    /*BARRA DE BÚSQUEDA*/
    /*#segunda_fila es para en la versión móvil separar en dos filas la cabecera*/
    header > nav > #segunda_fila {
        display: flex;
        gap: 15px;
    }
    header > nav > #segunda_fila > #contenedor_buscador {
        display: flex;
        align-items: center;
        width: 100%;
    }
    header > nav > #segunda_fila > #contenedor_buscador > #icono_lupa {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 25px 0 0 25px;
    }
    header > nav > #segunda_fila > #contenedor_buscador > #icono_lupa:hover {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
        cursor: pointer;
    }
    header > nav > #segunda_fila > #contenedor_buscador > #buscador_principal {
        background-color: rgba(255, 255, 255, 0.2);
        height: 34px;
        font-size: 15px;
        outline: none;
        color: white;
        width: 100%;
        border-radius: 0 25px 25px 0;
        padding-right: 10px;
    }
    header > nav > #segunda_fila > #contenedor_buscador > #buscador_principal::placeholder {
        color: rgb(211, 211, 211);
    }
    /*QUITAMOS LA X QUE SALE A LA DERECHA DEL BUSCADOR AL ESCRIBIR*/
    /* Para Chrome, Safari y navegadores basados en WebKit */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
        -webkit-appearance: none;
    }
    /* Para Edge y versiones antiguas de IE (por si acaso) */
    input[type="search"]::-ms-clear {
        display: none;
    }

    #role_selector {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 25px;
        color: white;
        outline: none;
        cursor: pointer;
    }
    #role_selector:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
    #role_selector > option {
        color: white;
        background-color: rgb(0, 0, 0);
    }
    
    /*Esto separa el header del contenido que está dentro de <main>*/
    #separador_header_contenido {
        padding-top: 137px;
    }
}