/* Animamos todos los elementos de dentro de "main" */
main * {
    transition: all 0.25s ease-in-out;
}
main > h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
main {
    display: grid;
    place-content: center;
}
/* Aquí dentro van las listas del usuario */
main > #contenedor_listas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    place-self: center;
    width: 100vw;
    min-width: 0;
    max-width: 95%;
}
main > #contenedor_listas > .lista {
    background-color: rgba(100, 100, 100, 0.25);
    border: rgba(100, 100, 100, 0.25) solid 2px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 15px;
    width: 160px;
    color: white;
    text-decoration: none;
    box-shadow: 0 0 15px -10px black;
}
main > #contenedor_listas > .lista:hover {
    background-color: rgba(180, 180, 180, 0.25);
    border: rgba(180, 180, 180, 0.25) solid 2px;
    box-shadow: 0 0 25px -5px rgba(180, 180, 180, 0.6);
}
main > #contenedor_listas > .lista > p {
    color: rgb(210, 210, 210);
}
/* Esto separa el header del contenido que está dentro de <main> */
@media (min-width: 950px) {
    #separador_header_contenido {
        padding-top: 114px;
    }
}
@media (max-width: 949px) and (min-width: 521px) {
    #separador_header_contenido {
        padding-top: 137px;
    }
}
@media (max-width: 520px) {
    #separador_header_contenido {
        padding-top: 177px;
    }
}