main * {
    transition: all 0.25s ease-in-out;
}
main > h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
main {
    display: grid;
    place-content: center;
}
main > #contenedor_listas {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    place-self: center;
    width: 100vw;
    min-width: 0;
    max-width: 95%;
}
main > #contenedor_listas > .lista {
    background-color: rgba(0, 0, 0, 0.25);
    border: rgba(0, 0, 0, 0.25) solid 2px;
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    width: 160px;
    color: white;
    text-decoration: none;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px -10px black;
}
main > #contenedor_listas > .lista:hover {
    background-color: rgba(80, 80, 80, 0.25);
    border: rgba(0, 0, 0, 0.4) solid 2px;
    box-shadow: 0 0 25px -10px black;
}
main > #contenedor_listas > .lista > h1 {}
main > #contenedor_listas > .lista > p {
    color: rgb(210, 210, 210);
}
/*Esto separa el header del contenido que está dentro de <main>*/
@media (min-width: 1100px) {
    #separador_header_contenido {
        padding-top: 114px;
    }
}

@media (max-width: 1099px) {
    #separador_header_contenido {
        padding-top: 137px;
    }
}