@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: rgb(91, 117, 141);
    background-image: url(https://d26oc3sg82pgk3.cloudfront.net/files/media/edit/image/53890/article_full%403x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    background-position: center;
}
main {
    background-color: rgba(212, 119, 119, 0.4);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 50vw;
    max-width: 700px;
    place-self: center;
    border-radius: 25px;
    padding: 80px;
    border: white solid 3px;
    box-shadow: 0 0 15px -5px white;
}

h1 {
    color: white;
}
span {
    text-shadow: 0 0 15px;
}
p {
    text-align: justify;
    color: white;
}
a {
    color: white;
}
a:visited {
    color: rgb(39, 79, 138);
}